@page
@model ErrorModel
@{
    //ViewData["Title"] = "Error";
    Html.SetSeoInfo(seoInfo =>
           {
       seoInfo.SetCommonInfo(
           pageTitle: "Error",
           description: "KilimanimumsKe, open graph (og:), and ...",
           url: "https://kilimanimums.ke/error/",
           keywordTags: new[] { "kilimanimumsKe", "Kilimanimums", "premium dating", "kenya dating site" } //optional
       );

       seoInfo.SetImageInfo(
           url: "https://kilimanimums.ke/images/logo.png",
           width: 1280,  //optional
           height: 720,  //optional
           alt: "KilimanimumsKe"  //optional
                          //mimeType: "image/jpeg", //optional (detects from url file extension if not set.)
       );
           });
}

<h1 class="text-danger">Process error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>Please try again</p>
