@page
@model Kmums.Pages.Admin.HomeCreateModel

@{
    ViewData["Title"] = "HomeCreate";
}

<h1>Create home message</h1>
@if (!Model.HomeExists)
{
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="HomeModel.Body" class="control-label"></label>
                    <textarea id="smarttext" rows="12" asp-for="HomeModel.Body" class="form-control" ></textarea>
                    <span asp-validation-for="HomeModel.Body" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
}
else{
    <p>home message exist. Only edits are allowed</p>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
