@page
@model Kmums.Pages.Admin.PrivacyEditModel

@{
    ViewData["Title"] = "PrivacyEdit";
}

<h1>PrivacyEdit</h1>

<h4>PrivacyModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PrivacyModel.Id" />
            <div class="form-group">
                <label asp-for="PrivacyModel.Body" class="control-label"></label>
                <textarea id="smarttext" asp-for="PrivacyModel.Body" class="form-control"></textarea>
                <span asp-validation-for="PrivacyModel.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrivacyModel.Lastupdate" class="control-label"></label>
                <input asp-for="PrivacyModel.Lastupdate" class="form-control" readonly/>
                <span asp-validation-for="PrivacyModel.Lastupdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
